﻿html, body {
    height: 100%;
}

.body-login {
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}

.form-login {
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    padding: 15px;
    margin: auto;
}

    .form-login .form-control {
        height: auto;
        padding: 10px;
        margin: 10px 0px;
    }
