﻿<div id="responseDialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div ng-switch on="status">
                <div ng-switch-when="0|200" ng-switch-when-separator="|" class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Operación exitosa</h5>
                </div>
                <div ng-switch-when="2|400|404" ng-switch-when-separator="|" class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Error</h5>
                </div>
                <div ng-switch-default class="modal-header bg-warning text-white">
                    <h5 class="modal-title">Error desconocido</h5>
                </div>
            </div>
            <div ng-switch on="status">
                <div ng-switch-when="0|2|200|400|404" ng-switch-when-separator="|" class="modal-body">
                    <h6 class="p2">{{message}}</h6>
                    <div ng-repeat="messages in errors">
                        <p class="border-top border-gray p-1" ng-repeat="text in messages">{{text}}</p>
                    </div>
                </div>
                <div ng-switch-default class="modal-body">
                    <p>Ha ocurrido un error en la oparación. Por favor intentar nuevamente.</p>
                </div>
            </div>
            <div ng-switch on="status">
                <div ng-switch-when="0|200" ng-switch-when-separator="|" class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="redirect(path)">Aceptar</button>
                </div>
                <div ng-switch-default class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Reintentar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="redirect()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>