﻿<h3 class="h5 border-bottom border-gray pb-2">Información de la cuenta</h3>
<div class="row">
    <div class="form-group col-md-6 col-12">
        <label for="usernameInput">Nombre de usuario:</label>
        <input ng-model="username" type="text" class="form-control" id="usernameInput" aria-describedby="usernameInputHelp" placeholder="Ingrese el nombre de usuario" required />
        <small id="usernameInputHelp" class="form-text text-muted">Longitud minima de 7 caracteres</small>
    </div>
    <div class="form-group col-md-6 col-12">
        <label for="emailInput">Correo electrónico:</label>
        <input ng-model="email" type="email" class="form-control" id="emailInput" placeholder="Ingrese su correo electrónico" required />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 col-12">
        <label for="newPassword">Contraseña:</label>
        <input ng-model="password" type="password" class="form-control" id="newPassword" aria-describedby="passwordInputHelp" placeholder="Ingrese la contraseña" required />
        <small id="passwordInputHelp" class="form-text text-muted">Longitud minima de 10 caracteres con almenos un numero, una mayúscula, una minúscula y un símbolo</small>
    </div>
    <div class="form-group col-md-6 col-12">
        <label for="confirmPassword">Confirmar contraseña:</label>
        <input ng-model="confirm" type="password" class="form-control" id="confirmPassword" placeholder="Ingrese la contraseña" required />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 col-12">
        <label for="genderInput">Sexo:</label>
        <select ng-model="gender" class="form-control" id="genderInput" required>
            <option disabled selected>Elija una opción</option>
            <option value="Male">Masculino</option>
            <option value="Female">Femenino</option>
        </select>
    </div>
</div>