﻿<div class="row">
    <div class="col-12">
        <div class="card rounded shadow bg-white form-login text-center">
            <div class="card-body">
                <h1 class="h3 pb-4 font-weight-normal card-title">Iniciar sesión</h1>
                <form ng-submit="login(username, password)">
                    <label for="inputEmail" class="sr-only">Usuario</label>
                    <input type="text" id="inputEmail" class="form-control" placeholder="Nombre de usuario" required autofocus ng-model="username" />
                    <label for="inputPassword" class="sr-only">Contraseña</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required ng-model="password" />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
                </form>
                <a href="#!/User/Create"  class="btn btn-link mt-3">No tengo cuenta. Registrarme</a>
            </div>
        </div>
    </div>
</div>
<progress-bar></progress-bar>
<dialog-content status="responseStatus" message="responseMessage" errors="errorObjects" redirect="redirectTo"></dialog-content>
