﻿<div class="row">
    <div class="col-12">
        <div class="mt-3 mb-3 p-3 rounded shadow bg-primary text-white">
            <h1 class="h3">Editar información</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="mt-3 mb-3 p-3 rounded shadow bg-white">
            <form ng-submit="editUser(username, email, password, passwordConfirm, gender)">
                <user-form username="username" email="email" password="password" confirm="passwordConfirm" gender="gender"></user-form>
                <div class="row pt-md-3">
                    <div class="col-12 text-center text-md-right">
                        <button type="submit" class="btn btn-primary m-2">Aceptar</button>
                        <button type="button" class="btn btn-danger m-2" ng-click="redirectTo()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<progress-bar></progress-bar>
<dialog-content status="responseStatus" message="responseMessage" errors="errorObjects" redirect="redirectTo"></dialog-content>
