﻿<div class="row">
    <div class="col-12">
        <div class="mt-3 mb-3 p-3 rounded shadow bg-primary text-white">
            <h1 class="h3">Usuarios</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="mt-3 mb-3 p-3 rounded shadow bg-white">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="users-table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Usuario</th>
                                    <th>Email</th>
                                    <th>Sexo</th>
                                    <th>Actívo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-12 text-center text-md-right">
                    <button type="submit" class="btn btn-primary mr-3" ng-click="redirectTo()">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    table th:nth-child(3), td:nth-child(3) {
        display: none;
    }
</style>
<progress-bar></progress-bar>
<dialog-content status="responseStatus" message="responseMessage" errors="errorObjects"></dialog-content>

