﻿<div class="row">
    <div class="col-12">
        <div class="mt-3 mb-3 p-3 rounded shadow bg-primary text-white">
            <h1 class="h3">Información de usuario</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 ">
        <div class="mt-3 mb-3 p-3 rounded shadow bg-white">
            <div class="row">
                <div class="col-12 p-0 h-100">
                    <div class="card m-3 h-100 shadow-sm rounded">
                        <div class="card-body">
                            <h5 class="card-title">Información de la cuenta</h5>
                            <ul class="list-inline border-bottom p-2 border-gray">
                                <li class="list-inline-item font-weight-bold">Nombre de usuario:</li>
                                <li class="list-inline-item">{{username}}</li>
                            </ul>
                            <ul class="list-inline border-bottom p-2 border-gray">
                                <li class="list-inline-item font-weight-bold">Correo electrónico:</li>
                                <li class="list-inline-item">{{email}}</li>
                            </ul>
                            <ul class="list-inline border-bottom p-2 border-gray">
                                <li class="list-inline-item font-weight-bold">Cuenta activa:</li>
                                <li class="list-inline-item">{{status}}</li>
                            </ul>
                            <ul class="list-inline pl-2">
                                <li class="list-inline-item font-weight-bold">Sexo:</li>
                                <li class="list-inline-item">{{gender}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pb-md-4 pt-md-2 pb-4 pt-2 text-md-right text-center">
                    <a href="#!/User/Edit/{{id}}" class="btn btn-primary mt-2">Editar información</a>
                    <a href="#!/Users" class="btn btn-success mt-2">Listar otros usuarios</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="/" class="btn btn-link text-danger">Salir</a>
</div>
<progress-bar></progress-bar>
<dialog-content status="responseStatus" message="responseMessage" errors="errorObjects" redirect="redirectTo"></dialog-content>