﻿<!DOCTYPE html>
<html ng-app="devTestApp">
<head>
    <title ng-bind="page.title"></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Content/SiteStyle.css" rel="stylesheet" type="text/css" />
    <link href="Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="Content/DataTables/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link ng-repeat="value in css" href="{{value}}" rel="stylesheet" type="text/css" />
</head>
<body ng-class="bodyClass">
    <div class="container body-content" ng-view></div>
    <script src="Scripts/jquery-3.0.0.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="Scripts/Models/UserDto.js"></script>
    <script src="Scripts/Models/UserLogin.js"></script>
    <script src="Scripts/Business/Helpers.js"></script>
    <script src="Scripts/Business/DataTable.js"></script>
    <script src="Scripts/App.js"></script>
    <script src="Scripts/Services/LoginService.js"></script>
    <script src="Scripts/Services/UserService.js"></script>
    <script src="Scripts/Controllers/LoginController.js"></script>
    <script src="Scripts/Controllers/UserController.js"></script>
    <script src="Scripts/Directives/DialogContent.js"></script>
    <script src="Scripts/Directives/UserForm.js"></script>
    <script src="Scripts/Directives/IndeterminateProgresBar.js"></script>
</body>
</html>

